
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-danger">
					<div class="panel-heading text-center">
						<h1>4 matrices une  solution</h1>
					</div>
					<div class="panel-body">
						<div class="bs-component">
                            
                            <div class="page-header">
                            		<h1 class="text-danger text-center"><i class="mdi-action-favorite mdi-material-pink" style="font-size: 40pt;"></i>Bienvenue <i class="mdi-action-favorite mdi-material-lime" style="font-size: 40pt;"></i></h1>
                        	</div>  
                            <div class="well">
                         	       <p> 
                         	       	   <blockquote>
                         	       	   	Le jeu 4 matrices une solution est analogie au jeu 4 images un mot.
                         	       	    Pour notre cas on va générer une matrice au hasard et calculer son inverse.
                         	       	    On affichera par la suite 4 matrices parmi lesquelles il y'a la solution.
                         	       	    A vous maintenant de trouver la bonne matrice. Bonne chance !<br/>
                         	       	   	<small class="pull-right htag">#Thierno Thiam</small>
                         	       	   </blockquote>
                         	       </p>
                            </div>
                        </div>

					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-lg-offset-4 col-lg-4">
								<a href="/jouer_matrice">
									<button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Jouer</button>
								</a>
							
						</div>
						</div>
						
						
					</div>

			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-success">
					<div class="panel-heading text-center">
						<h1>Trouver la solution </h1>
					</div>
					<div class="panel-body">


					</div>

			</div>			

		</div>
	</div>

</div>